apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fm-compta-consulting
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/rolandsebastien/devops-cluster-gitops.git'
    path: application/manifests
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
