apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: allure-results-pvc
  namespace: allure
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi